In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv('iris.data.csv')
df_copy=pd.read_csv('iris.data.csv')
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
print("upper limit",df['sepal_length'].mean()+3*df['sepal_length'].std())

upper limit 8.327531717266922

In [8]:
print("lower limit",df['sepal_length'].mean()-3*df['sepal_length'].std())

lower limit 3.3591349493997447

In [9]:
print("upper limit",df['sepal_width'].mean()+3*df['sepal_width'].std())

upper limit 4.354782934086521

In [11]:
print("lower wound",df['sepal_width'].mean()-3*df['sepal_width'].std())

lower wound 1.7532170659134791

In [12]:
print("lower width ",df['petal_length'].mean()-3*df['petal_length'].std())

lower width  -1.5345945931901217

In [13]:
print("upper bound",df['petal_width'].mean()+3*df['petal_width'].std())

upper bound 3.48814889176919

In [38]:
df[(df['sepal_length']>8.32) | (df['sepal_length']<3.35)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [14]:
#by clipping ,we perform trimming for outliers
upper_limit=df[df['sepal_length'].mean() + 3 * df['sepal_length'].std()]
lower_limit=df[df['sepal_length'].mean() - 3 * df['sepal_length'].std()]
df['sepal_length']=np.where(
    df['sepal_length']>upper_limit,
    np.where(
        df['sepal_length']<lower_limit,
        lower_limit,
        df['sepal_length']
    )
)

KeyError: np.float64(8.327531717266922)

In [12]:
import pandas as pd
df=pd.read_csv('iris.data.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [47]:
import numpy as np
upper_limit=(df['sepal_length'].mean()+3*df['sepal_length'].std())
lower_limit=(df['sepal_length'].mean()-3*df['sepal_length'].std())

df['sepal_length']=np.where(
    df['sepal_length']>upper_limit,
    upper_limit,
    np.where(
        df['sepal_length']<lower_limit,
        lower_limit,
        df['sepal_length']
    )
)
df.shape

(0, 5)

In [51]:
import numpy as np
import pandas as pd
df=pd.read_csv('iris.data.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [52]:
df.shape

(150, 5)

In [53]:
df['petal_length'].describe()

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

In [58]:
df[(df['sepal_length']>8.32) | (df['sepal_length']<3.35)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [55]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [62]:
print("upper_bound_sepal_width",df['sepal_width'].mean()+3*df['sepal_width'].std())
print("lower wound",df['sepal_width'].mean()-3*df['sepal_width'].std())

upper_bound_sepal_width 4.354782934086521
lower wound 1.7532170659134791

In [63]:
df[(df['sepal_width']>4.35) | df['sepal_width']<1.75]

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [64]:
df['sepal_width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [10]:
upper_limit = df['sepal_width'].mean() + 3 * df['sepal_width'].std()
lower_limit = df['sepal_width'].mean() - 3 * df['sepal_width'].std()

df['sepal_width'] = np.where(
    df['sepal_width'] > upper_limit,
    upper_limit,
    np.where(df['sepal_width'] < lower_limit, lower_limit, df['sepal_width'])
)
df.shape

(10, 1)

In [11]:
df

   sepal_width
0          3.5
1          3.0
2          3.2
3          3.1
4          3.6
5          3.9
6          3.4
7          3.4
8          2.9
9          3.1

In [9]:
df['sepal_width'].describe()

count    10.000000
mean      3.310000
std       0.307137
min       2.900000
25%       3.100000
50%       3.300000
75%       3.475000
max       3.900000
Name: sepal_width, dtype: float64