1-Write a python code to reverse a string.

In [ ]:
string="Million of problems,one Solution"
rev_string=(string)[::-1]
print(rev_string);

noituloS eno,smelborp fo noilliM

2-Write a python code to determine id a string is a palindrome.

In [ ]:
string="abhinendra"
rev_string=string[::-1]
if string==rev_string:
  print("String is palindrome")
else:
    print("String is not pallindrome")

String is not pallindrome

3-Write a python code to determine if a number is an palindrome.

In [ ]:
number=input ("Write a number");
rev_number=number[::-1]
if number==rev_number:
  print("Number is palindrome")
else:
  print("Number is not palindrome")

Write a number1222221
Number is palindrome

4-Write a python code to reverse a list without using built-in functions.

In [ ]:
football_team=["Raman","Radhe","Shyam","Manohar","Kishan","dhruv"]
print(football_team[::-1])

['dhruv', 'Kishan', 'Manohar', 'Shyam', 'Radhe', 'Raman']

5-Write a python code to find the minimum & maximum element in a array.

In [ ]:
list=[]
n=int(input("range of elements"))
for i in range(0,n):
  ele=int(input())
  arr=list.append(ele)
print(list)
print(max(list))

range of elements5
1
2
3
4
5
[1, 2, 3, 4, 5]
5
1

1- Write a python code to implement Numpy Task given below.

1)-Take 10 numbers from users and save into the array.

In [ ]:
import numpy as np

# Initialize an empty list to store the elements
elements = []
for i in range("10"):
    ele = int(input(f"Enter element {i+1}: "))
    elements.append(ele)

# Convert the list to a NumPy array
array = np.array(elements)

print("The NumPy array is:", array)

TypeError: 'int' object is not callable

2)-Print 2 to 8 numbers in numpy.

3)-Reshape the array in 5th dimensional array.

2- Write a python code to implement Numpy Task given below.

1)-Write a python code to implement Numpy Task given below.

2)-Sort the numbers without using the sort () function.

3)- Split the array into 4 Sections.

4)- Join the 4 sections into 2 sections and print the array.

Pandas

1- Create a dataFrame to add columns like Name,Roll,Department & College Name.

2-Fill the columns with a minimum 10 columns.

3-Analyze the dataFrame with the Funcions Head() & Tail.

4-Use info() & describe() function.

5- Find out co-relations between the columns.

6- Convert the DataFrame into * CSV & *.excel file.